<div class="hexagons">
		<% cache do %>
		<% list = [%{python rails django ruby mongo compass angular python rails django}.split, %{git jquery javascript redis backbone html5 postgres modernizr git jquery javascript}.split, %{sinatra php ember go node handlebars clojure sinatra php ember}.split]

	  list.each_with_index do |names, i| %>
			<div class="hex-row <%= "even" if i%2 == 1 %>">
				<% names.each do |name| %>
					<div class="hex">
						<div class="top"></div>
						<div class="middle">
							<div class="<%= name %>"></div>
						</div>
						<div class="bottom"></div>
					</div>		
				<% end %>			
			</div>
		<% end %>
	<% end %>

	<div id="email-container" class="email-form">
		<h1>Changing the way that developers learn and teach.</h1>
		<!-- <h2>Backpack.io</h2> -->
		<%= form_for @user , html: { class: "email-form" }, remote: true do |f| %>
		  <%= f.text_field :email, :placeholder => "Enter your email" %>
		  <%= f.submit "Request Invite" %>
		<% end %>
		<p class="email-failure-message"></p>
		<div id="share_buttons">
			<%= render partial: 'share_buttons' %>
		</div>
	</div>
</div>

<div id="container">
	<div id="nine-sixty-box-container">
		<p id="about" class="oneliner"><span>Bitcast.</span> A marketplace for web development tutorials.</p><br>
	</div>
	<div id="nine-sixty-box-container">
		<div class="column" id="first">
			<div class="box" id="first-box"></div>
			<p class="box-header">Learn from the best.</p>
			<p class="box-info">Watch videos featuring the developers you already know and love. Our ever-growing library of screencasts covers the latest technologies and features hackers, designers, and startup gurus from your favorite companies.</p>
		</div>
		<div class="column" id="second">
			<div class="box" id="second-box"></div>
			<p class="box-header">Follow your favorites.</p>
			<p class="box-info">Bitcast lets you follow your favorite developers so you'll be the first to know when they publish new videos. In addition, you can follow tags to stay on the cutting edge of all your most used technologies.</p>
		</div>
		<div class="column" id="third">
			<div class="box" id="third-box"></div>
			<p class="box-header">Sell your own videos.</p>
			<p class="box-info">We believe that sharing your expertise should be easy. Upload your first free or paid video within minutes and manage all of your analytics from our secure dashboard. Video ratings and reviews allow great videos to surface quickly.</p>
		</div>
	</div>
</div>

<div id="features-container">
	<div id="features-960">
		<h5>Explore Bitcast</h5>
		<div class="feature-column">
			<div class="feature">
				<div class="feature-icon" id="feature-icon-one"></div>
				<h4>Unlimited Storage</h4>
				<p class="feature-description">We never limit your videos by size or length, and you can upload all of your screencasts in pure HD - for free. Feel free to upload your entire catalog of tutorials and share them with the Bitcast community.</p>
			</div>
			<div class="feature">
				<div class="feature-icon" id="feature-icon-two"></div>
				<h4>Embeddable Player</h4>
				<p class="feature-description">Using just a line of code, you can embed any video on your website or blog. Users can pay for videos directly in the player, and all payments will still be processed through Bitcast.</p>
			</div>
		</div>
		<div class="feature-column">
			<div class="feature">
				<div class="feature-icon" id="feature-icon-three"></div>
				<h4>Video Library</h4>
				<p class="feature-description">Bookmark any free or purchased video with one click and view your entire Library with ease. Sort by author, date, or tag, and keep your purchases and favorite videos organized in one place.</p>
			</div>
			<div class="feature">
				<div class="feature-icon" id="feature-icon-four"></div>
				<h4>Watch Anywhere</h4>
				<p class="feature-description">All of your favorite tutorials are hosted on Bitcast so you can stream from anywhere. Whether you're on a Macbook, a tablet, or just your phone, you can always access your entire Bitcast Library with ease.</p>
			</div>
		</div>
		<div class="feature-column">
			<div class="feature">
				<div class="feature-icon" id="feature-icon-five"></div>
				<h4>Show Notes</h4>
				<p class="feature-description">If you don't have time to watch the whole video or you just forgot your headphones at home, most Bitcast videos have a notes section filled with screenshots and code samples for you to explore at your leisure.</p>
			</div>
			<div class="feature">
				<div class="feature-icon" id="feature-icon-six"></div>
				<h4>Accept Payments</h4>
				<p class="feature-description">Bitcast uses Stripe's secure API to process payments to and from users. All major credit cards are accepted, and if you sell videos, your balance is deposited directly to your bank account.</p>
			</div>
		</div>
	</div>
</div>

<div id="team-container">
	<div id="team-960">
		<h4>The Bitcast Team</h4>
		<div class="team-column" id="first-member">
			<div class="team-photo" id="first-photo">
				<div class="member-info">
					<h3>Max Gillett</h3>
					<p>Full stack engineer, Neuroscience at Vanderbilt, music lover.</p> 
					<div class="member-social">
						<a class="github" href="http://github.com/maxgillett"></a>
						<a class="blog" href="http://maxgillett.com"></a>
						<a class="twitter" href="http://twitter.com/maxgillett"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="team-column" id="second-member">
			<div class="team-photo" id="second-photo">
				<div class="member-info">
					<h3>Zach Sherman</h3>
					<p>Developer/Designer Hybrid, Economics at Vanderbilt, Worked at Shelby.tv, loves sushi.</p>
					<div class="member-social">
						<a class="github" href="http://github.com/zsherman"></a>
						<a class="blog" href="http://zachsherman.me"></a>
						<a class="twitter" href="http://twitter.com/zshrm"></a>
						<a class="dribbble" href="http://dribbble.com/zsherman"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="team-column" id="third-member">
			<div class="team-photo" id="third-photo">
				<div class="member-info">
					<h3>Nikhil<br>Goel</h3>
					<p>Product Manager & Back-end engineer, Worked at Google & Microsoft, Computer Engineering at Vanderbilt.</p>
					<div class="member-social">
						<a class="linkedin" href="http://linkedin.com/in/ngoel1"></a>
						<a class="blog" href="http://nikhilgoel.me"></a>
						<a class="twitter" href="http://twitter.com/ngoel36"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="team-column" id="fourth-member">
			<div class="team-photo" id="fourth-photo">
				<div class="member-info">
					<h3>Luke Steensen</h3>
					<p>Rails Guru, Computer Engineering at Vanderbilt, Back-end lead.</p>
					<div class="member-social">
						<a class="github" href="http://github.com/lukesteensen"></a>
						<a class="linkedin" href="www.linkedin.com/pub/luke-steensen/21/511/130"></a>
						<a class="twitter" href="http://twitter.com/lukesteensen"></a>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

